name: moosic
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  
  http: ^1.1.0
  audioplayers: ^5.2.1
  provider: ^6.0.5
  google_fonts: ^6.1.0
  cached_network_image: ^3.3.0
  shared_preferences: ^2.2.2
  dio: ^5.3.3
  path_provider: ^2.1.1
  permission_handler: ^11.0.1
  flutter_staggered_grid_view: ^0.7.0 # For the cool RECOMMENDED grid if needed, or just standard GridView

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.jpg
